/*
* markdown style
*/

.markdown queto {
    margin: .2em 0;
    padding: 1em 1.3em;
    border-left: 4px solid #42b983;
    display: block;
    background-color: #f5f7f8;
}

.markdown queto[tag="bad"] {
    border-color: red;
}

.markdown hr {
    border: none;
    height: 1px;
    background: #ddd;
    margin: 1.2em 0;
}

.markdown img {
    max-width: 100%;
    height: auto;
}

.markdown a, .markdown a * {
    color: #42b983;
    text-decoration: none;
}

.markdown code.inlineCode {
    background-color: #f8f8f8;
    color: #e96900;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    /* 自动换行 */
    white-space: pre-line;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5 {
    margin: .5em 0;
    font-size: inherit;
}

.markdown h1 {
    font-size: 1.6em;
}

.markdown h2 {
    font-size: 1.4em;
}

.markdown h3 {
    font-size: 1.2em;
}

.markdown ul {
    padding-left: 2em;
}

.markdown ul, .markdown li {
    list-style: inherit;
    position: relative;
}

.markdown .list-todo-tag {
    position: absolute;
    left: -1.4em;
}

.markdown table {
    border-spacing: 0;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
}

.markdown table th,.markdown table td {
    padding: .5em;
    /* 1px边框 */
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

/* block-code优化 */
.markdown .highlight {
    border-radius: 10px;
    min-height: 2em;
    padding: 35px 10px 10px;
}

.markdown .blockCode {
    position: relative;
}

.markdown .blockCodeTools {
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0px;
    color: #fff;
    display: flex;
}

.markdown .code-red, .markdown .code-yellow, .markdown .code-green {
    display: block;
    height: 12px;
    width: 12px;
    margin-right: 8px;
    border-radius: 100%;
    background-color: #fc605b;
}

.markdown .code-yellow {
    background-color: #fcbb40;
}

.markdown .code-green {
    background-color: #2fc644;
}

.markdown .blockCodeCopyBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    line-height: 1;
    font-size: 12px;
    font-weight: 600;
}
